

body {
    background-color: gray ;
    display: flex;
    justify-content: space-around;

}

h1{
    text-align: center;
}

h2{
    font-weight: normal;
    font-size: 16px;
    margin-left: 90px;
}
#content {
    display: inline-flex;
}

#tax {
    text-align: center;
}


.JavaScript button {
    width: 50%;
    padding: 5px;
    display: block;
    margin: auto;
}

.JavaScript p {
    display: flex;
}

.JavaScript{
    background: skyblue;
    margin: 5px;
    border-radius: 5px;
    padding:30px 70px;
}
.JavaScript label {
    text-align: right;
    width: 50%;
    padding: 5px;
}

.JavaScript input {
    display: block;
    width: 70%;
    padding: 1px;
}

.JavaScript input:focus {
    background: rgb(195, 223, 234);
    color: blanchedalmond;
}