body{
    background: url('images/brewery.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    background: black;
    box-shadow: 15px 10px #F8F1DF;
    color: white;
}

#smug {
    height: 50px;
    width: 50px;
}

#main-header {
    text-align: center;
    padding: 15px 15px;
}

.container {
    position: relative;
    margin-left: 500px;
    transform: rotate(20deg);
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 48.5%;
    font-size: 20px;
    transform: translate(-50%, -50%) rotate(1deg);
    
}

.bottom-right {
    position: absolute;
    bottom: 13%;
    right: 40%;
}

.bottom-left {
    position: absolute;
    bottom: 13%;
    right: 50%;
}

.in-between {
    position: absolute;
    bottom: 13.5%;
    right: 44.5%;
}

.bottom-right:hover {
    border: skyblue solid 5px;
    cursor: pointer;
}

.bottom-left:hover {
    border: skyblue solid 5px;
    cursor: pointer;
    }


li {
    list-style-type: none;
}
